
{% extends 'post/base.html' %}

{% load static %}

{% block content %}

        <div id="content" class="no-bottom no-top">
            <div id="top"></div>

            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="{% static 'url(images/background/13.jpg)' %}" data-stellar-background-ratio=".2">
              <img src="{{ post.feature_image }}" class="text-light" alt="" />
                

            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-services" data-bgcolor="#f9f9f9">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                                      <h2 class="title">{{ post.title }}</h2>
                            <div class="picframe wow mb20">
                                <a href="">
                                    <img src="{{ post.feature_image.url }}" class="wow" alt="" />
                                </a>
                            </div>

                            <div class="post-item s1 item">
                                <div class="date-box">
                                    <div class="m"></div>
                                    <div class="d">{{ post.posted_date|date}}</div>
                                </div>

                                <div class="post-content">
                                    <div class="post-text">
                                        <h3><a href="">{{ post.title }}</a></h3>
                                        <p>{{ post.description }}</p>
                                    </div>
                                </div>
                                <br/>
                                <h3>Comments...</h3>
                                {% if not post.comments.all %}
                                    No Comment Yet... <a href="#">Add One</a>
                                {% else %}
                                    {% for comment in post.comments.all %}
                                        <strong>
                                            {{ comment.name }} -
                                            {{ comment.date_added }}
                                        </strong>
                                        <br/>
                                            {{ comment.body }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>

                </div>
            </section>
            <!-- section close -->

        </div>

{% endblock content %}